<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
      </Pattern>
    </layout>
  </appender>
  <!-- Turning down the wiremock logging -->
  <logger name="com.github.tomakehurst.wiremock" level="WARN"/>
  <logger name="wiremock.org" level="ERROR"/>
  <logger name="org.eclipse.jetty" level="ERROR"/>
  <logger name="WireMock" level="WARN"/>
  <!-- wiremock has per endpoint servlet logging -->
  <logger name="/" level="WARN"/>
  <logger name="org.springframework.jdbc.core.JdbcTemplate" level="trace" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <root level="info">
    <appender-ref ref="console"/>
  </root>

</configuration>
