<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %green(%d{ISO8601}) %-5level [%thread] %logger{36}: %msg%n%throwable
      </Pattern>
    </layout>
  </appender>
  <!--  &lt;!&ndash; Turning down the wiremock logging &ndash;&gt;-->
  <!--  <logger name="com.github.tomakehurst.wiremock" level="WARN"/>-->
  <!--  <logger name="wiremock.org" level="ERROR"/>-->
  <!--  <logger name="org.eclipse.jetty" level="ERROR"/>-->
  <!--  <logger name="WireMock" level="WARN"/>-->
  <!--  &lt;!&ndash; wiremock has per endpoint servlet logging &ndash;&gt;-->
  <!--  <logger name="/" level="WARN"/>-->
  <!--  <logger name="org.springframework.jdbc.core.JdbcTemplate" level="trace" additivity="false">-->
  <!--    <appender-ref ref="console"/>-->
  <!--  </logger>-->

  <root level="WARN">
    <appender-ref ref="console"/>
  </root>

</configuration>
